body {
    background-color: #EDDDD0;
}

h1{
    color:darkblue;
}

.head{
    text-align: center;
    background-color: #A6CAD4;
}

.p1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.p2{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.fancy{
    font-family: 'Montserrat', sans-serif;
    color: #334259;
}

.list1{
    display: flex;
    justify-content: space-around;
}

li{
    padding: 5px;
}

footer{
    text-align: center;
    background-color: #A6CAD4;
}


ul{
    display: grid;
}

.l1{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2;
}

.border1{
    border-bottom:cornsilk solid 2px;
}

.grid1{
    display: grid;
    grid-column: 2 / 2;
    align-items: left;
}


.list1{
    list-style: none;
    flex-direction: column;
}

.l1{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px){
    .list1{
        list-style: none;
        justify-content: center;
        flex-direction: row;
    }
    .l1{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2;
    }
}
