body {
    background-color: #EDDDD0;
}

h1{
    color:darkblue;
}

.head{
    text-align: center;
    background-color: #A6CAD4;
}

.p1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.p2{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.fancy{
    font-family: 'Montserrat', sans-serif;
    color: #334259;
}

.list1{
    display: flex;
    justify-content: space-around;
}

li{
    padding: 5px;
}

footer{
    text-align: center;
    background-color: #A6CAD4;
}

.l1{
    list-style: none;
}

ul{
    display: grid;
}

@media (min-width: 600px){
    .list1{
        list-style: none;
        justify-content: center;
        flex-direction: column;
    }
}
